{{#> layouts/base }}

  {{#*inline "container-block"}}

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About<br />
                <small>Fiona McKay-Ready</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="images/fiona_and_garth.jpg" alt="Fiona and Garth">
        </div>
        <div class="col-md-6">
            <p>Fiona is a Coach & Consultant that brings passion, strength and authenticity to all that she sets her mind to. Her ultimate commitment is to inspire, support and motivate her clients to achieve what they perceive to be their ‘impossibles,’ enabling them to find the courage to pursue their dreams, whatever size. She encourages her clients to ‘do it their way,’ even if that means stepping outside the expectations, beliefs and limitations that have become societal and cultural norms.</p>
            <p>Her own personal experience of being coached ignited her change in profession. Within six months of entering the world of coaching her life was changed in a way that she never dreamed possible, giving her the courage to take a leap of faith in pursuing a new career and lifestyle. To date this has included walking away from a secure but unfulfilling six-figure job, setting up her own business, qualifying as a dance teacher and buying her dream ‘retirement’ home, a lake house that she intends to turn into a retreat space, decades earlier than planned.</p>
            <p>Fiona’s coaching and consulting is complemented by over 14 years of experience in different organizations. After graduating from Oxford University, she spent two years teaching in an inner-city school as part of the Teach First program, a leadership development program and movement for change. She then spent ten years in the corporate world, where she was nominated for several high potential programs and was both the first female and youngest individual to be selected for her last three positions She relocated from the UK to the USA and represented two organizations to one of the world’s most iconic companies.</p>
            <p>Throughout her journey Fiona has always been passionate about empowering others and has embraced this in multiple ways, including facilitating professional development groups, initiating and leading training programs for her colleagues, mentoring others, speaking at conferences and setting up a Mentoring & Coaching framework for a diversity group.</p>
        </div>
    </div>

  {{/inline}}

{{/layouts/base}}
