{{#> layouts/base }}

  {{#*inline "container-block"}}

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About<br />
                <small>Fiona McKay</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="images/teal-large.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h2>About Fiona McKay</h2>
            <p>I take a stand for my clients by bringing their dreams to life and helping them to achieve dreams that were bigger and beyond what they ever imagined. I have a history of taking calculated risks in pursuit of my dreams, including finding the courage to leave a comfortable six-figure job in pursuit of my life and business goals. Since graduating from Oxford University I have been an advocate for supporting and developing others. In pursuit of giving back the community I embarked on the two-year industry supported Teach First program &#40;similar to the Teach for America program&#41;, working in a challenging inner-city school in London. Working with a dynamic group of children helped me to develop my interpersonal and engagement skills in more ways than I could have possibly imagined.</p>
            <p>At the end of the 2 year program I decided to apply the skills that I head learned to business and joined the Rolls-Royce graduate program. This led me to my first experiences with corporate coaching&mdash;and in particular the powerful impact it could have on my interactions with others. I worked in a series of roles including operations, project management and customer management. One of my key skills that led me to success in these roles was my ability to build bridges across different functional teams.</p>
            <p>I now use a unique style of coaching developed through more than 230 hours of training with two different schools, including the most intensive program in the USA. My ontological coach training is accredited through the International Coaching Federation (the largest accreditation body for professional coaching in the world). I have more than 10 years of experience in supporting transformational journeys.
            </p>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <br />
    <br />

    {{> includes/cta }}

  {{/inline}}

{{/layouts/base}}
