{{#> layouts/base }}

  {{#*inline "container-block"}}

    <!-- Intro Content -->
    <div class="row container-block">
        <div class="col-md-6">
            <div class="well">
              <ul class="list-group pig">
                <li class="list-group-item">1000’s of hours of coaching, consulting, training &amp; teaching.</li>
                <li class="list-group-item">Certified by one of the world’s finest coach training programs.</li>
                <li class="list-group-item">Accredited by the International Coaching Federation.</li>
                <li class="list-group-item">Trained &amp; mentored by Master Certified Coaches.</li>
                <li class="list-group-item">Cutting edge coaching & leadership techniques.</li>
                <li class="list-group-item">Leading, coaching and flying by example.</li>
              </ul>
             </div>
             <img class="img-responsive img-thumbnail" src="images/fiona_and_garth.jpg" alt="Fiona and Garth">
           </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Fiona is a Coach & Consultant that brings passion, strength and authenticity to all that she sets her mind to. Her ultimate commitment is to inspire, support and motivate her clients to achieve what they perceive to be their ‘impossibles,’ enabling them to find the courage to pursue their dreams, whatever size. She encourages her clients to ‘do it their way,’ stepping outside the expectations, beliefs and limitations that have limited their current levels of success.</p>
              <p>Her own personal experience of being coached ignited her change in profession. Within six months of entering the world of coaching her life was changed in a way that she never dreamed possible, giving her the courage to take a leap of faith in pursuing a new career and lifestyle. To date this has included walking away from a secure but unfulfilling six-figure job, setting up her own business, qualifying as a dance teacher and buying her dream ‘retirement’ home, a lake house that she intends to turn into a retreat space, decades earlier than planned.</p>
              <p>Fiona’s coaching and consulting is complemented by over 14 years of experience in different organizations. After graduating from Oxford University, she spent two years teaching in an inner-city school as part of the Teach First program, a leadership development program and movement for change. She then spent ten years in the corporate world, where she was nominated for several high potential programs and was both the first female and youngest individual to be selected for her last two positions She relocated from the UK to the USA and represented two organizations to one of the world’s most iconic companies.</p>
              <p>Throughout her journey Fiona was always passionate about empowering others and embraced this in multiple ways, including facilitating professional development groups, initiating and leading training programs for her colleagues, mentoring others, speaking at conferences and setting up a Mentoring & Coaching framework for a diversity group.  Today she is able to pursue these passions full time through her work as a high performance coach, consultant and trainer.</p>
            </div>
          </div>
        </div>
    </div>

  {{/inline}}

{{/layouts/base}}
