{{#> layouts/base }}

  {{#*inline "container-block"}}
     <!-- Marketing Icons Section -->
     <div class="row">
         <div class="col-lg-12">
             <h1 class="page-header">
                 READY TO FLY COACHING &amp; CONSULTING
             </h1>
         <div class="col-md-12">
             <h3 class="sub-header"><i>Turn your impossibles into your realities</i></h3>
         </div>
         </div>
     </div>
     <hr>
     <!-- Features Section -->
     <div class="row">
         <div class="col-md-6 home-feature">
             <p class="home-feature">I'm Fiona McKay-Ready, a High Performance Coach & Consultant dedicated to supporting others in enabling their dreams to take flight. Through years of experience in corporate, non-profit, teaching and training worlds I have been an avid observer of human behavior, enabling me to distinguish the habits and qualities that enable people to stand out from the crowd and rise above the status quo – regardless of their background or circumstances.</p>

             <p>My number one goal with my clients is to help them embrace their full potential, in both their personal and professional lives.  I will let you in on a secret – it’s an inside job.  So many people I come across undervalue themselves and their abilities, living from an inner narrative of limiting beliefs and self-sabotaging stories based on a past that cannot be changed.</p>

             <p>My commitment is to shine a light on people’s greatness and work with them to tenaciously pursue the results and the lifestyle they deserve.</p>
         </div>
         <div class="col-md-6">
             <img class="img-responsive" src="images/headshot.jpg" alt="Fiona McKay-Ready">
         </div>
     </div>
     <!-- /.row -->
     <hr>

    {{> includes/cta }}

  {{/inline}}

  {{#*inline "scripts-block"}}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
  {{/inline}}

{{/layouts/base}}
