{{#> layouts/base }}

  {{#*inline "container-block"}}
     <!-- Marketing Icons Section -->
     <div class="row">
         <div class="col-lg-12">
             <h1 class="page-header">
                 READY TO FLY COACHING &amp; CONSULTING
             </h1>
         <div class="col-md-12">
             <h3 class="sub-header"><i>Turn your impossibles into your realities</i></h3>
         </div>
         </div>
     </div>
     <hr>
     <!-- Features Section -->
     <div class="row">
         <div class="col-md-6">
             <img class="img-responsive img-thumbnail" src="images/headshot.jpg" alt="Fiona McKay-Ready">
         </div>
         <div class="col-md-6 home-feature">
           <div class="panel panel-default">
             <div class="panel-body">
               <p class="home-feature">I'm Fiona McKay, a High Performance Coach & Consultant dedicated to supporting people and businesses soar to success. Through years of experience in corporate, non-profit, teaching and training worlds I have been an avid observer of human behavior, enabling me to distinguish the habits and qualities that enable people to stand out from the crowd and rise above the status quo – regardless of their background or circumstances.</p>

               <p>My number one goal with my clients is to help them embrace their full potential, in both their personal and professional lives.  This powerful combination enables dreams to take flight, through improved performance and a changed relationship with themselves and others.</p>

               <p>The key to unleashing this power is recognizing that it’s an inside job.  So many people I come across undervalue themselves and their abilities, living from an inner narrative of limiting beliefs and self-sabotaging stories based on a past that cannot be changed.  By challenging and re-writing this dialogue my clients are able to achieve new levels of success in a way that is both sustainable and enjoyable for the client.</p>

               <p>My commitment is to shine a light on the greatness of the people and businesses that I work with, enabling them to tenaciously pursue the results and the lifestyle they deserve.</p>
             </div>
           </div>
         </div>
     </div>
     <!-- /.row -->
     <hr>

    {{> includes/cta }}

  {{/inline}}

  {{#*inline "scripts-block"}}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
  {{/inline}}

{{/layouts/base}}
