{{#> layouts/base }}

  {{#*inline "container-block"}}

    <!-- Intro Content -->
    <div class="row container-block">
        <div class="col-md-12">
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="images/bio.pdf"></iframe>
          </div>
        </div>
    </div>

  {{/inline}}

{{/layouts/base}}
