{{#> layouts/base }}

  {{#*inline "container-block"}}

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Testimonials<br />
                <small>Fiona McKay-Ready</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Testimonials</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Testimonials</h2>
        </div>
        <div class="col-lg-12">

            <ul id="myTab" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#service-one" data-toggle="tab">New Levels</a>
                </li>
                <li class=""><a href="#service-two" data-toggle="tab">Overcome Obstacles</a>
                </li>
                <li class=""><a href="#service-three" data-toggle="tab">Perceptive</a>
                </li>
                <li class=""><a href="#service-four" data-toggle="tab">Approachable</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h4>New Levels</h4>
                    <p>Fiona blends real life business experience and coaching know-how in a manner that brings deep insight and great tools from the get go. In the time we have worked together she has been instrumental in helping me understand my full capability and access a new level of leadership and enjoyment. <br />
                        <strong>JE, President (Aerospace Tooling Company), Seattle WA</strong></p>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <h4>Overcome Obstacles</h4>
                    <p>I highly recommend coaching with Fiona McKay for anyone seeking to find their best. Through her supportive and demanding style she helped me identify obstacles in my professional and personal life and develop strategies to overcome these challenges. I learned a tremendous amount from Fiona and am excited to implement what she has taught me. <br />
                        <strong>DD, Business Owner & Medical Consultant, Seattle WA</strong></p>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <h4>Perceptive</h4>
                    <p>I'm tremendously grateful for Fiona's coaching at a critical juncture in my career! She helped me build the courage to leap from my previous stable corporate job, prepare for what came next, and go after and land an amazing job opportunity &#40;and significant salary bump&#41; within 3 months. Fiona is perceptive, astute, encouraging, creative, funny, and challenging as a coach. She has a knack for bringing out the best in people&mdash;offering opportunities and paths you never thought of, helping you excel at your strengths, managing any pitfalls, and helping you experience greater joy. I highly recommend her, especially for anyone seeking support with achieving new goals! <br />
                        <strong>Shoumi, Management Consultant, Seattle, WA</strong></p>
                </div>
                <div class="tab-pane fade" id="service-four">
                    <h4>Approachable</h4>
                    <p>I worked with Fiona after I'd been made redundant just after the birth of my first baby. Although expected, events left me confused and wondering how to make sure my next move was the right one for me. Fiona asked the questions that I hadn't realised I needed someone to ask. She was never intrusive but encouraged me to challenge my ingrained thoughts and attitudes. I never would have had the guts to go for what I did without our discussions. I would definitely recommend Fiona's coaching&mdash;in fact, I have recommended her to my sister and a good friend. She is very approachable, clear, willing to share her experiences but never pushes her own opinion. Thank you so much Fiona! Life would be so easy if everyone had a Fiona along for the ride! <br />
                        <strong>Lauren, Accountant, Manchester, UK</strong></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
  {{/inline}}

{{/layouts/base}}
