<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>When you are ready to transform your career, relationships, and life, then you are ready to fly. Call Fiona McKay Ready to schedule your complimentary consultation today.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="contact.html">Contact Fiona</a>
        </div>
    </div>
</div>
