<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>When you are ready to step out of your comfort zone and open up to what is possible then you are <b><i>Ready To Fly</i></b>. Contact Fiona today.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="contact.html">Contact Fiona</a>
        </div>
    </div>
</div>
