<div class="row">
  <div class="col-lg-12">
      <p>&copy; 2018 <a href="http://www.growlingwillow.com" target="_blank">Growling Willow</a> &amp; <a href="http://www.startbootstrap.com" target="_blank">Start Bootstrap</a></p>
  </div>
</div>
